<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.contextinsensitive.noter"
    android:versionCode="7"
    android:versionName="0.7">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- Set in build.gradle
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19"/>
        -->


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".IntentReceiver"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnchanged"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.SEND" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>
        <activity android:name="uk.co.contextinsensitive.noter.Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
